.icon-badge-group .icon-badge-container {
    display: inline-block;
    color: black;
}

.icon-badge-container {
    position: relative;

    margin-top: 17px;
    margin-left: 5px;
}

.icon-badge-icon {
    font-size: 30px;
    position: relative;
}

.icon-badge {
    background-color: green;
    font-size: 12px;
    color: white;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 35%;
    position: relative;
    top: -30px;
    left: 17px;
}

a {
    color: black;
}

/*  */

/* Caso queira arredondar o link também */
.nav-link.active {
    background-color: #ddd;
    /* Cor de fundo cinza escuro */
    border-radius: 50%;
    /* Torna o container redondo */
    width: 50px;
    /* Defina uma largura fixa */
    height: 50px;
    /* Defina uma altura fixa igual à largura */
    display: flex;
    /* Flexbox para alinhar o conteúdo */
    justify-content: center;
    /* Alinha o conteúdo horizontalmente */
    align-items: center;
    /* Alinha o conteúdo verticalmente */
    padding: 0;
    /* Remove qualquer padding extra */
}

/* Garantir que cada tab-pane tenha uma rolagem vertical quando necessário */
.tab-pane {
    max-height: calc(100vh - 50px); /* Ajuste a altura máxima, dependendo da altura do cabeçalho ou de outros elementos */
    overflow-y: auto; /* Habilita a rolagem vertical */
    padding-right: 15px; /* Adiciona um pouco de espaço para não encostar na borda do contêiner */
}



.radio-inputs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
}

.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
    margin: 2px;
}

.radio-inputs .radio input {
    display: none;
}

.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked+.name {
    background-color: #ebebeb;
    font-weight: 600;
}
