

#w-input-container {
     display: flex;
     flex-direction: column-reverse; /* Alinha o texto na parte inferior */
     justify-content: flex-start;  /* Garante que o texto fique alinhado no topo */
     height: auto;
 }
 
 #w-input-text {
     max-height: 100px;  /* Defina a altura máxima */
     overflow-y: auto;   /* Aplica a rolagem quando a altura for excedida */
     padding: 8px;
     line-height: 1.4;
     min-height: 40px;  /* Altura mínima do campo */
     word-wrap: break-word;
     overflow-wrap: break-word;
     resize: none; /* Impede o redimensionamento manual */
     
     user-select: none;  /* Impede que o usuário selecione o texto */
     -webkit-user-select: none;  /* Para o Safari */
     -moz-user-select: none;  /* Para o Firefox */
     -ms-user-select: none;  /* Para o IE/Edge */
 }
 
 
 #w-input-text:focus {
     outline: none;  /* Remove o contorno de foco */
 }



 